<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Scissors is a tool to shorten a long link and create a short URL easy to share on sites, chat and emails. Track short URL analysis and manage your links.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Scissors - URL Shortener">
  <meta property="og:url" content="https://scissors-alt.onrender.com/">
  <meta property="og:type" content="website">
  <title>URL Shortener || Dashboard </title>
  <style type="text/css">
        body {
        background-color: linen;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .link-item {
        margin-bottom: 10px;
        margin: blue;
    }
    .link-item a {
        text-decoration: none;
        color: blue;
        margin-right: 10px;
    }
    </style>
</head>

<body>
  <header>
    <div id="logo">
      <a href="/" class="logo">
        <h1>SCISSORS</h1>
      </a>
    </div>
  </header>
  <main>
    <section id="urlbox">
      <h2>Hi, <%= shortCodeCheck.username %>, here is the analytics</h2>
      <hr>
      <p>
        Inputted URL = <a href="<%= shortCodeCheck.longUrl %>" target="_blank"><%= shortCodeCheck.longUrl %></a><br>
        Shortened URL = <a href="<%= shortCodeCheck.shortUrl %>" target="_blank"><%= shortCodeCheck.shortUrl %></a><br>
        Click Count = <%= shortCodeCheck.clickCount %><br>
        Clicks:
      <ul>
        <% shortCodeCheck.clicks.forEach(function(click) { %>
        <li>
          <b>Timestamp:</b> <%= click.timestamp %><br>
          <b>IP Address:</b> <%= click.ipAddress %><br>
          <b>User Agent:</b> <%= click.userAgent %><br>
        </li>
        <hr>
        <% }); %>
      </ul>
      </p>
      <hero>
        <a href="/views/dashboard">Go back to dashboard</a>
      </hero>
    </section>
  </main>
  <footer>
    <div id="footerbox">
      <div>&copy; 2024 SCISSORS All rights reserved</div>
    </div>
  </footer>
</body>

</html>