<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Scissors is a tool to shorten a long link and create a short URL easy to share on sites, chat and emails. Track short URL analysis and manage your links.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Scissors - URL Shortener">
  <meta property="og:url" content="https://scissors-alt.onrender.com/">
  <meta property="og:type" content="website">
  <title>URL Shortener || Dashboard </title>
  <style>
    body {
        background-color: linen;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .link-item {
        margin-bottom: 10px;
        margin: blue;
    }
    .link-item a {
        text-decoration: none;
        color: blue;
        margin-right: 10px;
    }
</style>
</head>

<body>
  <header>
    <div id="logo">
      <a href="/" class="logo">
        <h1>SCISSORS</h1>
      </a>
    </div>
  </header>
  <main>
    <section id="urlbox">
      <h1>Paste the URL to be shortened</br>
        Note: Always start your link with "https://"</h1>
      <form action="/" method="post">
        <div id="formurl">
          <input type="url" name="longURL" placeholder="Enter the Link here"><br>
          <div id="formbutton">
            <input type="submit" value="Get Short Link">
          </div>
        </div>
      </form>
      <p class="boxtextcenter">
      <h2>Hi, <%= newURL.username %>, here is the result</h2>
      </hr></br>
      Inputted URL = <a href="<%= newURL.longURL %>" target="_blank"><%= newURL.longURL %></a></br>
      Shortened URL = <a href="<%= newURL.shortURL %>" target="_blank"><%= newURL.shortURL %></a></br>
      <img src="<%= newURL.QRCode %>" alt="QR Code">
      </p>
      <hero>
        <a href="/views/dashboard">Go back to dashboard</a>
      </hero>
    </section>
  </main>
  <footer>
    <div id="footerbox">
      <div>&copy; 2024 SCISSORS All rights reserved</div>
    </div>
  </footer>
</body>

</html>